*.i??
*.orig
.idea
.project
.classpath
.settings
target
maven-eclipse.xml
.externalToolBuilders
archetype/src/main/resources/archetype-resources/pom.xml
*nb-configuration.xml
node_modules
**/checkstyle.cache
