*.i??
*.orig
.idea
.project
.classpath
.settings
eclipse-classes
target
maven-eclipse.xml
.externalToolBuilders
archetype/src/main/resources/archetype-resources/pom.xml
ide/eclipse/bundles/org.apache.syncope.ide.eclipse.plugin/bin/
ide/eclipse/bundles/org.apache.syncope.ide.eclipse.plugin/lib/
ide/eclipse/bundles/org.apache.syncope.ide.eclipse.tests/bin/
ide/eclipse/bundles/org.apache.syncope.ide.eclipse.tests/screenshots/
