/*
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/

/* app general css stylesheet */

.growl-container > .growl-item.ng-enter,
.growl-container > .growl-item.ng-leave {
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
}

.k-notification-wrap{
  white-space: normal !important;
  word-wrap: break-word !important;
  font-size: 12px;

}

.k-notification{
  width : 320px;
  font-size: 12px;
}

.suggestions{
  font-size: 10px;
  display: inline-block;
  margin-bottom: 5px;
}

#resetpassword{
  background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* IE10+ */
  color: black;
  margin-left: 5px;
  /*width: 15%;*/
}
#resetpassword:hover {
  background: #658D5D;
}
#captchaImg{
  display: block;
  margin: 0 auto;
}

.disable-link{
  pointer-events: none;
  cursor: default;
}

.treasure-overlay-spinner-container{
  z-index : 5;
}

treasure-overlay-spinner.treasure-overlay-spinner-active-remove{
  transition: all 150ms ease-in 0s
}
