/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

$background_console_darker: #207e33;
$syncope_default_green: #28a745;
$background_console_dark: #00a65a;
$background_console_white: #eee;


/* SCSS Methods
============================================================================= */

@mixin shadow($args...) {
  -moz-box-shadow: $args;
  -webkit-box-shadow: $args;
  -o-box-shadow: $args;
  box-shadow: $args;
}


/* General
============================================================================= */

body {
}

.table {
  > tbody {
    > tr {
      > td {
        &.list_view_panel_labels {
          vertical-align: middle;
        }
      }
    }
  }
}


/* Login
============================================================================= */

.form-signin {
  .form-control:focus {
    border-color: $background_console_darker;
    @include shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $background_console_darker);
  }
}

.btn {
  &.btn-signin {
    background-color: $syncope_default_green!important;
    &:hover, &:active, &:focus {
      background-color: $background_console_darker!important;
    }
  }

  &.btn-sso {
    &:hover, &:active, &:focus {
      background-color: $background_console_darker!important;
    }
  }
}

/* Must Change Password
============================================================================= */

#mcp_wrapper {

  .form-control {
    margin-bottom: 10px
  }

  .card {
    height: 100%;
  }

  .custom_content_wrapper {
    padding: 2% 2% 0 2%;
  }
}

/* JSON diff
============================================================================= */

.json-diff-header {
  text-align: center;

  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

.json-diff-item {
  display: table-cell;
  vertical-align: middle;
}

.running-col {
  width: 65px;
}

/* BreadCrumb
============================================================================= */
.no-separator::before{content:none !important;}