/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.batch {
  display: inline-table;
}
.batchCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  padding-left: 7px;
}

.pageRowElement {
  display: inline-table;
  width: 100%;
}

div#selectedObjects {
  table {
    border-collapse: collapse;
    td, th {
      border: 1px solid #eee;
      padding: .5em 10px;
    }
  }
  .circular-actions {
    padding: 3px;
    margin: 10px 0px 5px 0px;
  }
}

.modal-body {
  max-height: 650px !important;
}
