/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import 'utils';


body, html {
  height: 100% !important;
  background-repeat: no-repeat;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'!important;
}

.card-container.card {
  width: 350px;
  padding: 40px 40px;
}

/*
 * Card component
 */
.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  @include border_radius(2px);
  @include shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
}

.login-logo {
  width: 200px;
  margin: 0 auto 10px;
  display: block;
}

/*
 * Form styles
 */
.form-signin {
  input {
    &[type=password], &[type=text] {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      z-index: 1;
      position: relative;
      @include box_sizing(border-box);
    }
  }
  button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    @include box_sizing(border-box);
  }
  .form-control:focus {
    outline: 0;
  }
}

.btn {
  font-weight: 700;
  height: 36px;
  cursor: default;
  @include user_select(none);

  &.btn-signin {
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    @include border_radius(3px);
    border: none;
    @include transition(all, 0.218s, ease);
  }
  &.btn-sso {
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    @include border_radius(3px);
    border: none;
    @include transition(all, 0.218s, ease);
  }
}
