/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.searchBox .col-xs-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.clause {
  height: 40px;
  display: block;
  line-height: 34px;
  .operator {
    width: 65px !important;
    .checkbox {
      margin: 0px !important;
    }
  }
  .field {
    line-height: 30px;
    float: left;
    padding: 0 3px 0px 0px;
    display: inline-block !important;
    .toggle{
      &.btn {
        min-width: 59px
      }
    }
  }
  .type {
    width: 200px !important;
    button {
      width: 200px !important;
    }
  }
  .property {
    width: 250px;
    button {
      width: 250px;
    }
  }
  .comparator {
    width: 140px;
    button {
      width: 140px !important;
    }
  }
  .value {
    width: 320px;
  }
  .date {
    width: 160px;
  }
  .hours {
    width: 45px;
  }
  .separator {
    width: 20px;
    padding-left: 12px;
  }
  .action {
    float: left;
    padding: 0px 7px 0px;
  }
}

.searchBox {
  .input-group-addon:last-child {
    border: 1px solid #ccc !important;
  }
  .input-group {
    margin-top: 1px;
  }
}

.custom-autocomplete-box li.selected {
  background-color: #eee;
}

.search-spinner {
  line-height: 23px !important;
}

.search-spinner span{
  width: 70% !important;
}
