/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.searchBox .col-xs-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.clause {
  display: block;
  line-height: 34px;
  width: 100%;
  .operator {
    width: 65px !important;
    .checkbox {
      margin: 0px !important;
    }
  }
  .field {
    line-height: 34px;
    float: left;
    padding: 0 3px 0px 0px;
    display: inline-block !important;
  }
  .type {
    width: 120px !important;
  }
  .property {
    width: 190px;
  }
  .comparator {
    width: 100px;
    button {
      width: 100px !important;
    }
  }
  .value {
    width: 220px;
  }
  .textvalue {
    width: 45px;
  }
  .action {
    float: left;
    padding: 0px 7px 0px;
  }
}

.searchBox {
  .input-group-addon:last-child {
    border: 1px solid #ccc !important;
  }
  .input-group {
    margin-top: 1px;
  }
}