/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
th.checkGroupColumn{
  width: 20px;
}

td.checkGroupColumn{
  text-align: center;
}

div.bulkAction{
  display:inline-table;
}

div.bulkActionCell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  padding-left: 7px;
}

.pageRowElement{
  display: inline-table;
  width: 95%;
}

div#selectedObjects{
  text-align: center;
  margin-top: 10px;
}

div#selectedObjects table {
  margin: 1em 0;
  border-collapse: collapse;
}

div#selectedObjects table td, div#selectedObjects table th {
  border: 1px solid #eee;
  padding: .6em 10px;
}

div#actionRow{
  height: 30px;
  overflow: hidden;
  text-align: left;
  margin-top: 10px;
}

div#actions{
  display: inline-table;
  height: 30px;
  overflow: hidden;
}

div#actions div#actionPanel{
  display: table-cell;
  height: 30px;
  overflow: hidden;
  cursor: auto;
  background: none;
  padding: 0px 10px;
  vertical-align: middle;
}

div#actions div#cancelBtmForm{
  display: table-cell;
  height: 30px;
  overflow: hidden;
  vertical-align: middle;
  padding-left: 3px;
}

div#actions div#cancelBtmForm form{
  padding: 0px;
  margin: 0px;
}

div#actions div#cancelBtmForm form input#cancel{
  padding: 0.6em 1em;
}
