/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import 'utils';

$accessibility_color_white: #f7f7f7;
$accessibility_color_black: #000000;


/* General
============================================================================= */
.content-wrapper,
.content-wrapper .box,
.modal-content,
.modal-header,
.background-footer,
input:not(:disabled):not([type="file"]),
select,
select option,
button:not(.close),
.table .sorting,
.dataTables_paginate a,
.modal-footer,
.box-header,
.dropdown-menu,
.main-footer,
.circular-actions a,
.k-select,
.file-caption.kv-fileinput-caption {
  color: $accessibility_color_white !important;
  background-color: #0f1417 !important;
}


.dataTable thead th:after,
.close {
  color: $accessibility_color_white !important;
  opacity: 0.8 !important;
}


.input-group-addon a,
.input-group-addon i,
.dropdown-menu > li:not(.disabled) > a:hover,
.dropdown-menu > li:not(.disabled) > a:hover span,
.dropdown-menu > li:not(.disabled) > a:focus,
.dropdown-menu > li:not(.disabled) > a:focus span,
#startAtContainer .input-group-addon span,
#startAtContainer .k-widget span,
#startAtContainer .k-widget i,
#startAtContainer .k-widget input,
.modal-footer i,
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default,
.content-wrapper .nav-tabs a,
.wrapper .content-wrapper .nav.nav-tabs li.active a span,
.wrapper .content-wrapper .nav.nav-tabs li.active a,
.wrapper .content-wrapper .nav.nav-tabs li a:hover span,
.wrapper .content-wrapper .nav.nav-tabs li a:hover,
.wrapper .content-wrapper .nav.nav-tabs li a:active span,
.wrapper .content-wrapper .nav.nav-tabs li a:active,
.wrapper .content-wrapper .nav.nav-tabs li a:focus span,
.wrapper .content-wrapper .nav.nav-tabs li a:focus,
.wrapper .content-wrapper .tab-content .btn-primary .fa-download {
  color: $accessibility_color_black !important;
}


.content-wrapper a:not(.btn-primary),
.content-wrapper span:not(.label-info):not([role="presentation"]):not([class^='cm-']),
.content-wrapper p,
.content-wrapper .box-title a,
.realm-choice .dropdown-menu > li:not(.disabled) > a:hover,
.realm-choice .dropdown-menu > li:not(.disabled) > a:hover span,
.realm-choice .dropdown-menu > li:not(.disabled) > a:focus,
.realm-choice .dropdown-menu > li:not(.disabled) > a:focus span,
.box-header,
.breadcrumb .active,
table tbody tr:hover button span,
.dropdown-menu > li > a,
.modal-header button,
.circular-actions a i,
.wizard-form .input-group-addon i,
#startAtContainer .input-group-addon i,
.attribute .input-group-addon i {
  color: $accessibility_color_white !important;
}


.box.box-primary {
  border-top-color: $accessibility_color_white;
}


img,
.content-wrapper div.btn.btn-file span.hidden-xs {
  background-color: $accessibility_color_white;
  color: $accessibility_color_black !important;
}
.enduser_navbar .navbar-brand img {
  background-color: transparent;
}
.btn-primary,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: $accessibility_color_white !important;
  color: $accessibility_color_black !important;
}


.logo img,
.modal-content .input-group .input-group-addon,
.wizard-view .input-group .input-group-addon {
  background-color: transparent;
}


.modal-dialog {
  border: 2px solid white;
}


#veil:not(:required):after {
  @include shadow($accessibility_color_white 1.5em 0 0 0, 
  $accessibility_color_white 1.1em 1.1em 0 0, 
  $accessibility_color_white 0 1.5em 0 0, 
  $accessibility_color_white -1.1em 1.1em 0 0, 
  $accessibility_color_white -1.5em 0 0 0, 
  $accessibility_color_white -1.1em -1.1em 0 0, 
  $accessibility_color_white 0 -1.5em 0 0, 
  $accessibility_color_white 1.1em -1.1em 0 0);
}


.input-group input:disabled,
.input-group input[disabled],
.control-sidebar-dark .control-sidebar-menu > li > a:hover,
.table-hover > tbody > tr:hover,
.main-header .navbar .sidebar-toggle:hover,
.main-header .logo:hover,
div.toggle-menu ul li:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover,
.k-block, 
.k-draghandle, 
.k-grid-header, 
.k-grouping-header, 
.k-header, 
.k-pager-wrap, 
.k-toolbar, 
.k-treemap-tile,
.k-picker-wrap,
.k-state-disabled,
.km-pane-wrapper .k-header {
  background-color: rgba(108, 115, 117, 0.55);
}


.sidebar-mini .main-header .navbar {
  background-color: #222d32;
  border-bottom: 1px white solid;
  box-sizing: border-box;
}
.sidebar-mini .main-header .logo,
div.toggle-menu {
  background-color: #222d32;
}


div.toggle-menu {
  border: 1px solid $accessibility_color_white;
}


a,
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
  border-color: #76abd9;
}
a {
  color: #76abd9;
}


.logs button.btn-primary {
  border-color: $accessibility_color_white;
}
.logs button.btn-primary:hover {
  border-color: #adadad;
}
div.infolabel,
.input-group input:disabled,
.input-group input[disabled] {
  color: #d2d2d2;
}


.text-bg-danger,
.callout.callout-danger,
.alert-danger,
.bg-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body,
.btn-danger.active, 
.btn-danger:active, 
.open>.dropdown-toggle.btn-danger {
  background-color: #942819 !important;
}
.text-bg-warning {
  background-color: #6F4706 !important;
}
.text-bg-success,
.copy-clipboard-feedback,
.btn-success,
.callout.callout-success, 
.alert-success, 
.label-success, 
.modal-success .modal-body {
  background-color: #005C32 !important;
}
.bg-info {
  background-color: #004E61 !important;
}
.text-bg-warning,
.callout.callout-warning, 
.alert-warning, 
.label-warning, 
.modal-warning .modal-body {
  background-color: #6F4706 !important;
}
.callout.callout-warning {
  border-color: #6F4706;
}


.bootstrap-select .btn.btn-default {
  background-color: rgba(101, 101, 101, 0.7) !important;
}


/* Login page
============================================================================= */
.login-body {
  background-image: linear-gradient(rgb(31, 109, 142), #004626);
}

.login-logo {
  background: transparent;
}

.btn-accessibility {
  color: $accessibility_color_white !important;
}

.form-signin  {
  .btn-primary, 
  .btn-primary {
    border: 2px solid white;
  }
  .btn-primary.focus, 
  .btn-primary:focus {
    border-color: #8c8c8c;
  }
}

.login-card {
  background-color: #0f1417;
}




/* From Console Admin LTE
============================================================================= */
.dark-theme .callout.callout-danger, .dark-theme .callout.callout-warning, 
.dark-theme .callout.callout-info, .dark-theme .callout.callout-success, 
.dark-theme .alert-success, .dark-theme .alert-danger, .bg-danger, .dark-theme .label-success, 
.dark-theme .alert-error, .dark-theme .alert-warning, .dark-theme .alert-info, .dark-theme .label-danger, 
.dark-theme .label-info, .dark-theme .label-warning, .dark-theme .label-primary {
  color: #fff !important;
}
