<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<configuration>

    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}/core.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.directory}/core.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="persistence" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}/core-persistence.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.directory}/core-persistence.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rest" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}/core-rest.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.directory}/core-rest.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="connid" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}/core-connid.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.directory}/core-connid.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="test" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}/core-test.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.directory}/core-test.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="monitor" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}/core-monitor.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.directory}/core-monitor.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.syncope.client" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="main"/>
    </logger>

    <logger name="org.syncope.core.persistence" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="persistence"/>
    </logger>
    <logger name="org.syncope.core.persistence.propagation.ConnectorFacadeProxy" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="persistence"/>
    </logger>
    
    <logger name="org.syncope.core.security" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="main"/>
    </logger>

    <logger name="org.syncope.core.rest" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="rest"/>
    </logger>
    
    <logger name="org.identityconnectors" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="connid"/>
    </logger>
    <logger name="org.syncope.core.connid" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="connid"/>
    </logger>
    <logger name="org.connid" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="connid"/>
    </logger>
    
    <logger name="org.syncope.core.test" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="test"/>
    </logger>

    <logger name="org.syncope.core.monitor" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="monitor"/>
    </logger>

    <logger name="org.hibernate.cache" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="monitor"/>
    </logger>

    <logger name="net.sf.ehcache.hibernate" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="monitor"/>
    </logger>

    <logger name="net.sf.ehcache" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="main"/>
    </logger>
    
    <logger name="org.hibernate.hql.ast" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="monitor"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="main"/>
    </logger>

    <logger name="org.springframework.orm" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="persistence"/>
    </logger>

    <logger name="org.springframework.test" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="test"/>
    </logger>

    <logger name="org.springframework.web" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="rest"/>
    </logger>

    <logger name="org.hibernate" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="persistence"/>
    </logger>
    <logger name="org.hibernate.stat" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="persistence"/>
    </logger>
    <logger name="org.hibernate.SQL" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="persistence"/>
    </logger>
    <logger name="org.hibernate.type" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="persistence"/>
    </logger>

    <logger name="org.dbunit" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="test"/>
    </logger>

    <logger name="org.apache.commons.httpclient" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="test"/>
    </logger>
    <logger name="httpclient" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="test"/>
    </logger>

    <!-- Log4JDBC -->
    <logger name="jdbc.sqlonly" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="test"/>
    </logger>
    <logger name="jdbc.sqltiming" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="test"/>
    </logger>
    <logger name="jdbc.audit" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="test"/>
    </logger>
    <logger name="jdbc.resultset" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="test"/>
    </logger>
    <logger name="jdbc.resultsettable" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="test"/>
    </logger>
    <logger name="jdbc.connection" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="test"/>
    </logger>
    <!-- /Log4JDBC -->
    
    <root>
        <level value="INFO"/>
        <appender-ref ref="main"/>
    </root>
</configuration>
