<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="main" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${logfile}"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10240KB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d %C{1}.%M:%L %m%n"/>
        </layout>
    </appender>

    <appender name="test" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${logfile.test}"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10240KB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d %C{1}.%M:%L %m%n"/>
        </layout>
    </appender>

    <logger name="org.syncope.console" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="main"/>
    </logger>

    <logger name="org.syncope.console.test" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="test"/>
    </logger>

    <root>
        <priority value="info" />
        <appender-ref ref="main"/>
    </root>
</log4j:configuration>

