/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.drop_button{
  vertical-align: middle;
}

.add_button{
  vertical-align: middle;
  margin-left: 6px;
}

.date_size{
  width: 90px;
}

.long_dynamicsize{
  width: 80%;
}

.medium_dynamicsize{
  width: 45%;
}

.short_dynamicsize{
  width: 35%;
}

.long_fixedsize{
  width: 500px;
}

.medium_fixedsize{
  width: 300px;
}

.short_fixedsize{
  width: 150px;
}

.veryshort_fixedsize{
  width: 70px;
}

.all_dynamicsize{
  width: 100%;
}

div#formtable {
  display: table;
  width: 100%;
}

div#formtable > span:first-of-type {
  display: table-row-group;
  width: 100%;
}

div.tablerow {
  display: inline-table;
  padding: 5px;
  width: 100%;
}

div.tablerow2 {
  display: inline-table;
  padding: 5px 0px 5px 0px;
  width: 100%;
}

div.alt {
  background: #eff3ea;
}

div.tablecolumn_label{
  display: table-cell;
  font-size: 12px;
  vertical-align: middle;
  font-family: Verdana,Tahoma,sans-serif;
  width: 30%;
}

div.tablecolumn_field{
  display: table-cell;
  vertical-align: middle;
  font-family: Verdana,Tahoma,sans-serif;
  width: 70%;
}

div.tablecolumn_check{
  display: table-cell;
  margin-right: 5px;
  margin-left: 2px;
  vertical-align: middle;
}

div.tablecolumn2_label{
  display: table-cell;
  font-size: 12px;
  vertical-align: middle;
  font-family: Verdana,Tahoma,sans-serif;
  padding-left: 5px;
  width: 15%;
}

div.tablecolumn2_field{
  display: table-cell;
  vertical-align: middle;
  font-family: Verdana,Tahoma,sans-serif;
  width: 35%;
}

.ui-tabs .ui-tabs-panel {
  background: none repeat scroll 0 0 #FFFFFF;
  border-width: 0;
  display: block;
  overflow: auto;
  padding: 1em 1.4em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 12px;
  padding: 2px 4px;
}

.ui-widget-header { 
  border: 1px solid #aaaaaa
    /*{borderColorHeader}*/; 
  background: #cccccc
    /*{bgColorHeader}*/ 
    url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)
    /*{bgImgUrlHeader}*/ 
    50%/*{bgHeaderXPos}*/ 
    50%/*{bgHeaderYPos}*/ 
    repeat-x/*{bgHeaderRepeat}*/; 
  color: #222222/*{fcHeader}*/; 
  font-weight: bold;
  padding: 7px 15px;
}

.ui-button { 
  display: inline-block; 
  position: relative; 
  margin-right: .1em; 
  cursor: pointer; 
  text-align: center; 
  zoom: 1; 
  overflow: visible; 
  padding: 7px 15px;
}

.ui-spinner-button {
  cursor: default;
  display: block;
  font-size: 0.5em;
  height: 50%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 16px;
}
