/* Foglio di stile */
/*    ideato da    */
/* giacomosocci.it */

body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Myriad Pro", Verdana, Tahoma, sans-serif;
	color: #333;
	font-size: 14px;
}


/* id */
#menuTab {
	background-color: #B9CFB3;
	padding-top: 20px;
}

#splash {
	background: url(../img/sf_testa.png) top repeat-x #B9CFB3;
	width: 400px;
	margin: auto;
	margin-top: 100px;
	border: 1px solid #463;
}
	
	#splash a {
		color: #463;
		text-decoration: none;
		font-size: 14px;
	}
	
	#splash a img {
		border: none;
	}
	
	#splash h2 {
		color: #FFF;
		margin: 0px;
		margin-bottom: 20px;
		font-size: 14px;
		text-align: center;
		font-weight: normal;
	}
	
	#splash form {
		margin: 6px auto;
		width: 300px;
		text-align: center;
	}
	
	#splash form label {
		margin-right: 5px;
	}
	
	#splash form label.password {
		margin-right: 31px;
	}
	
	#splash form input {
		margin-bottom: 15px;
	}
	
	#splash p {
		margin: 6px 16px;
		border-top: 1px solid #463;
		text-align: center;
		padding-top: 8px;
	}
	
	#splash ul {
		height: 200px;
	}
	
	#splash ul li {
		float: left;
		width: 105px;
		text-align: center;
		list-style: none;
		margin: 0px;
	}

#testa {
	background: url(../img/sf_testa.png) top repeat-x #FFF;
}
	
	#testa a img {
		border: none;
	}
	
	#testa {
		height: 103px;
	}
	
	#testa img#logo {
		position: absolute;
		left: 0px;
		top: 0px;
	}
	
	#testa a {
		color: #FFF;
		text-decoration: none;
	}
	
	#testa a:hover {
		color: #CCC;
	}
	
	#testa ul {
		clear: both;
		padding: 0px;
		margin: 0px;
		margin-left: 280px;
	}
	
	#testa ul li {
		float: left;
		width: 90px;
		text-align: center;
		margin: 0px;
		color: #FFF;
		font-size: 13px;
		list-style: none;
		padding: 0px;
	}
	
	#testa span {
		font-size: 14px;
	}


/* classi */
#testa .users {
	color: #9C0;
}

#testa .roles {
	color: #F90;
}

#testa .resources {
	color: #FD0;
}

#testa .connectors {
	color: #09F;
}

#testa .report {
	color: #F66;
}

#testa .configuration {
	color: #CCC;
}
